#navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
}



#footbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}